*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



.container {
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: #f2f2f2;

    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}

/* header */
header {
    width: 100%;
    height: 60px;
    background: white
}

.header-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.search {
    margin-left: 15%;
    width: 25%;
}

.search-input {
    width: 100%;
    padding-left: 5px;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
}

.notifications {
    margin-left: 5%;
}

.notifications a {
    color: #757575;
}

.account {
    margin-left: 35%;
}

/* Forms */
.form {
    background: white;
    border-radius: 8px;
    width: 350px;
    margin: 50px auto 0 auto;
    padding: 5px;
}

.form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.form-top_h1 {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #212121;
}

.btn {
    cursor: pointer;
    background: black;
    color: white;
    border: 0;
    border-radius: 6px;
    padding: 10px;
    transition: all 1s ease;
}

.btn:hover {
    background: #aeafb5;
    color: black;
}
